/*
    This is a CSS Comment
    Shortcut for adding a comment is Ctrl/CMD + /
*/
body {
    padding-top: 140px;
    font-family: Arial, Helvetica, sans-serif;
    color: darkslategray;
    /* Adding background image */
    background-image: url(../images/white_brick_wall.png);
    
}    

/* Box model example*/
section p {
    width: 50%;
    /* single value - top/bottom/left/right*/
    /* 2 values first value - top/bottom, 2nd value left/right*/
    padding: 1em 5em;
    /* top right bottom left */
    margin: 1em 2em 2em 2em;
    border-bottom: 2px solid black;
}

.container {
    /* always create a container containing everything inside the body */
    max-width: 1200px;
    /* top/bottom & left/right */
    margin: 0 auto
}

img {
    width: 100%;
}

h1 {
    color: cadetblue;
}

p {
    background-color: antiquewhite;
}
/* selecting multiple elements*/
h1, h2, h3, h4 {
    text-decoration: underline;
}
/* selecting child elements */
nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    width: 50%;
    padding: 1em;
    box-sizing: border-box;
}

/* selecting child elements with multiple levels */
nav ul a {
    display: inline-block;
    color: darkslategray;
    text-decoration: none;
    font-size: 1.5rem;
    /* 1.5rem - 1.5 x 16px - 24px */
}

/* selecting element with ID value */
#treatofweek {
    /* color image repeat position-x position-y */
    background: cadetblue url(../images/bread.jpg) no-repeat center;

    /* background size */
    background-size: cover;

    font-size: 1.25rem
    /* 1.25rem x 16px - 20px */;
    padding: 1em;
    /* 1 x 20px - 20px */
    border: 1.5em solid darkslategray;

    /* viewport based unit */
    /* width: 100vw; */
    /* scroll wheel bc it has space coming from the percent, it goes out of the screen which is not ideal */


    /* height: 100vh;*/
    /* height is 100% of the browser size */
    position: relative;
}

/* 0020 */
.blue-link.large-text {
    position: absolute;
    bottom: 0;
    right: 0;
}

.blue-link {
    /* em= 1.5 x fontsize */
    padding: 1em;
    width: 100%;
    display: inline-block;
    background-color: darkslategray;
    color: antiquewhite;
    text-decoration: none;
}

.large-text {
    font-size: 20px;
}

article, aside {
    width: 80%;
    background-color: rgba(255, 255, 255, 0.6);
    border: 1px solid black;
    padding: 1.5em;
    box-sizing: border-box;
    float: left;
}

aside {
    width: 20%;
}

section {
    clear: both;
}

.white-text {
    color: antiquewhite;
}

/* 
    Combinators 
    direct child selector - will onlu select child of the parent
*/

/* CSS Typography properties */
article>p {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.5;
    text-transform: lowercase;
    text-align: center;
}

/* Adjacent sibling selector - Selects the element that is very next sibling to the selected element, if any exists */

h3+ul {
    border: 1px solid black;
}

h3~p {
    text-transform: uppercase;
}

/* Attribute Selectors */
[href="#treatofweek"] {
    font-weight: bold;
    font-size: 24px;
}

[src=".images/coffee-shop.jpg"] {
    color: darkslategray;
}

[src$=".jpg"] {
    border: 4px solid darkslategray;
}

/* Fixed navigation link */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(251, 251, 251);
    z-index: 999;
}

/* Pseudo Classes */
/* Styling navigation*/
nav ul a,
nav ul a:link
nav ul a:visited {
    background-color: antiquewhite;
    /* horizontal vertical blur spread color */
    box-shadow: -2px 2px 4px 2px black;

}

nav ul .current,
nav ul a:hover,
nav ul a:focus {
    text-decoration: underline;
}

nav ul a:active {
    box-shadow:  0 0 4px 2px black;
}

/* Position Selectors */
/* first-child and last-child */
aside ul li:first-child {
    font-weight: bold;
}

section ol li:last-child {
    font-weight: bold;
}

/* Styling Table*/
table {
    border-collapse: collapse;
}

/* nth-child selector - even/odd*/
/* hex color value with 6 characters*/
tbody tr:nth-child(even) {
    background-color: #d5836c;
}

/* Using nth-child with n */
/* where n is 0,1,2,3... until number elements */
table th:nth-child(n),
table td:nth-child(n) {
    border: 1px solid black;
}

/* Using a formula in nth-child selector*/
table td:nth-child(2n+1) {
    background-color: rgba(0, 0, 0, 0.2);
}

/* 
    css specificity 
    Formula: In-line Style, ID, Class, Tag-name (0,0,0,0)
*/

/* (0,0,0,1) */
footer {
    background-color: aqua;
}
/* (0,0,0,2) */
body footer {
    background-color: orange;
}
/* (0,0,1,0) */
.site-footer {
    background-color: antiquewhite;
}
/* (0,0,0,2) */
article h2 {
    text-transform: lowercase;
}
/* (0,0,1,1) */
footer.site-footer {
    background-color: greenyellow;
}
